## Manipulação de Arquivos

NameError: name 'python_version' is not defined

#### Lendo Arquivos

In [2]:
# Abrindo o arquivo
arq1 = open("Arquivos/arquivo1.txt","r")  # r = read

In [3]:
type(arq1)

_io.TextIOWrapper

In [4]:
# Lendo o arquivo
print(arq1.read())

A Data Science Academy fornece cursos de alta qualidade e que transmitem muito conhecimento.

In [5]:
# Contar caracters
print(arq1.tell())

92

In [6]:
print(arq1.read())  # o arquivo já está no final, não vai ler nada!
# Retornar para o início do arquivo
print(arq1.seek(0,0))

0

In [7]:
# Lendo os 23 primeiros caracters
print(arq1.read(23))

A Data Science Academy

#### Gravando Arquivos

In [8]:
# Abrindo para gravação  (sem arquivo existente na pasta, vai criar um arquivo novo)
arq2 = open("Arquivos/arquivo2.txt", "w")  # W = write  - sempre sobrescreve todo o arquivo

In [10]:
# Como abriu como gravação, não pode usar comandos de leitura! (vai dar erro)
print(arq2.read())

UnsupportedOperation: not readable

In [11]:
# Gravando no arquivo
arq2.write("Aprendendo a programar em Python.")

33

In [13]:
arq2.close()   # finaliza a gravação

In [14]:
# Abrindo para leitura e verificando o conteúdo
arq2 = open("Arquivos/arquivo2.txt", "r") 
print(arq2.read())

Aprendendo a programar em Python.

In [15]:
# Acrescentando texto ao fim do arquivo
arq2 = open("Arquivos/arquivo2.txt", "a")  # a = append   - acrescentar ao fim sem sobrescrever o arquivo.

In [16]:
arq2.write(" E a metodologia de ensino da DSA facilita o aprendizado.")

57

In [17]:
arq2.close()   #fechando a gravação

In [19]:
arq2 = open("Arquivos/arquivo2.txt", "r")

In [20]:
print(arq2.read())

Aprendendo a programar em Python. E a metodologia de ensino da DSA facilita o aprendizado.

In [21]:
#Voltando o cursor para o inicio do arquivo
arq2.seek(0,0)
print(arq2.read())

Aprendendo a programar em Python. E a metodologia de ensino da DSA facilita o aprendizado.

## Abrindo Dataset em Linha Única

##### Arquivo obtido no site de dados abertos do governo da cidade de chicago, nos EUA:

https://data.cityofchicago.org/

In [4]:
f = open("Arquivos/salarios.csv","r")

In [5]:
data = f.read()

In [6]:
rows = data.split('\n')

In [7]:
full_data = []

In [10]:
type(rows)

list

In [8]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)

In [9]:
print(full_data)

[['“Nome”', ' “Salario” ', ' “Cidade” '], ['“Izabela”', ' “10.000”', ' “Magé” '], ['“Leonardo”', '”34.000”', '”Santo Aleixo”'], ['“João”', '”5.000”', '”Rio de Janeiro”'], ['“Catarina”', '”12.000”', '”São Paulo”']]

## Contando as Linhas de um arquivo

In [13]:
count = 0
for row in full_data:
    count += 1
    
print(count)

5

## Contando o número de colunas de um arquivo

In [14]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)
    first_row = full_data[0]
count = 0

In [16]:
for column in first_row:
    count = count + 1
    
# Outra solução:
# for column in full_data[0]:
#    count += 1

In [17]:
print(count)

6

## Gravando Arquivo pelo Jupyter Notebook

In [22]:
%%writefile Arquivos/arquivo3.txt
Este arquivo foi gerado pelo Jupyter Notebook.
Podemos gerar várias linhas.

Writing Arquivos/arquivo3.txt

In [23]:
# Operador do jupyter notebook : %%writefile

In [24]:
arq3 = open("Arquivos/arquivo3.txt","r")
arq3.read()

'Este arquivo foi gerado pelo Jupyter Notebook.\nPodemos gerar várias linhas.\n'

In [26]:
#retornando para o inicio
arq3.seek(0)

0

In [27]:
arq3.readlines()

['Este arquivo foi gerado pelo Jupyter Notebook.\n',
 'Podemos gerar várias linhas.\n']

In [28]:
# Loop for para ler o arquivo
for line in open('Arquivos/arquivo3.txt'):
    print(line)

Este arquivo foi gerado pelo Jupyter Notebook.

Podemos gerar várias linhas.

## Importando um DataSet com Pandas

In [29]:
import pandas as pd

In [30]:
pd.__version__

'1.5.3'

In [38]:
arquivo = "Arquivos/salarios.csv"

In [39]:
df = pd.read_csv(arquivo)

In [40]:
df.head()

       Nome   Salario         Cidade
0   Izabela      10.0            Magé
1  Leonardo      34.0    Santo Aleixo
2      João       5.0  Rio de Janeiro
3  Catarina      12.0       São Paulo

In [43]:
df['Nome'].value_counts()   #colocar o nome da coluna

Izabela     1
Leonardo    1
João        1
Catarina    1
Name: Nome, dtype: int64