# Exercícios - Cap04

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
l = ['maça', 3, 5.6, 'pera', 'picanha']
for i in l:
    print(i)

maça
3
5.6
pera
picanha

In [4]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
string1 = "Izabela"
string2 = " Salotti"
string3 = string1 + string2
string3

'Izabela Salotti'

In [5]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
t = (1, 2, 2, 3, 4, 4, 4, 5)
t.count(4)

3

In [6]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
d = {}
d

{}

In [7]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
d1 = {'cachorro': 'laica','Iza': 38, 'peso': 59}
d1

{'cachorro': 'laica', 'Iza': 38, 'peso': 59}

In [11]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
d1 = dict(d1,Leo=36)
d1

{'cachorro': 'laica', 'Iza': 38, 'peso': 59, 'Leo': 36}

In [13]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
d2 = {'Iza': 38, 'Leo':36, 'list': [2, 3, 4]}
d2

{'Iza': 38, 'Leo': 36, 'list': [2, 3, 4]}

In [14]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.
lst = ['Izabela', ('Iza', 38), {'Iza':38, 'Leo':36}, 9.8]
lst

['Izabela', ('Iza', 38), {'Iza': 38, 'Leo': 36}, 9.8]

In [16]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[0:18]

'Cientista de Dados'