# Dicionários

In [1]:
# Lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Iza", 38, "Janaína", 25]
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Iza', 38, 'Janaína', 25]

In [2]:
# Estrutura de dicionário é mais adequada para (chave:valor)
estudantes_dict = {"Pedro": 24, 
                   "Ana": 22, 
                   "Iza": 38, 
                   "Janaína": 25}
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Iza': 38, 'Janaína': 25}

In [3]:
estudantes_dict["Pedro"]

24

In [4]:
estudantes_dict["Iza"] = 36

In [5]:
estudantes_dict["Iza"]

36

In [6]:
# Limpar todo o dicionario
estudantes_dict.clear()
estudantes_dict

{}

In [7]:
del estudantes_dict  #deleta o dicionario
estudantes_dict      #erro

NameError: name 'estudantes_dict' is not defined

In [8]:
estudantes = {"Pedro": 24, 
                   "Ana": 22, 
                   "Iza": 38, 
                   "Janaína": 25}
estudantes

{'Pedro': 24, 'Ana': 22, 'Iza': 38, 'Janaína': 25}

In [9]:
len(estudantes)

4

In [10]:
estudantes.keys()  #traz as chaves

dict_keys(['Pedro', 'Ana', 'Iza', 'Janaína'])

In [11]:
estudantes.values() #traz os valores de cada chave

dict_values([24, 22, 38, 25])

In [12]:
estudantes.items() # traz o par (chave, valor) em forma de tupla

dict_items([('Pedro', 24), ('Ana', 22), ('Iza', 38), ('Janaína', 25)])

In [14]:
estudantes2 = {"Leo": 36, "Helio": 74}
estudantes.update(estudantes2)    #atualiza o dict com os pares de um outro dict

In [15]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Iza': 38, 'Janaína': 25, 'Leo': 36, 'Helio': 74}

In [17]:
dict1 = {}
dict1

{}

In [19]:
dict1["chave_um"] = 2   #insere um par chave, valor
print(dict1)

{'chave_um': 2}

In [20]:
dict1[10] = 5
print(dict1)

{'chave_um': 2, 10: 5}

In [21]:
dict1[9.13] = "Python"
print(dict1)

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [22]:
dict1 = {}
dict1["teste"] = 10
dict1["key"] = "teste"
dict1   #podem existir chaves e valores com valores iguais, mas cada um se comporta de modo diferente

{'teste': 10, 'key': 'teste'}

In [23]:
dict2 = {}
dict2["key1"] = "Data Science"
dict2["key2"] = 10
dict2["key3"] = 100
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [25]:
a = dict2["key1"]
b = dict2["key2"]
c = dict2["key3"]
a, b, c

('Data Science', 10, 100)

In [26]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,435, 73.4], 'chave3': ['picanha','fraldinha','alcatra']}
dict3

{'chave1': 1230,
 'chave2': [22, 435, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [28]:
dict3['chave2']

[22, 435, 73.4]

In [30]:
# acessar a lista no dicionario
dict3['chave3'][0].upper()

'PICANHA'

In [31]:
# operações com itens da lista, centro do dicionario
var1 = dict3['chave2'][0] - 2
var1

20

In [32]:
# duas operações no mesmo comando, atualizar um item dentro da lista
dict3['chave2'][0] -=2   #subtrai o valor 2 do item 0 da lista na chave2 e grava na lista
dict3

{'chave1': 1230,
 'chave2': [20, 435, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

# Criando dicionários aninhados

In [33]:
dict_aninhado = {'key1': {'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [34]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

In [35]:
# json são dicionários aninhados...